@page "/addresses"
<h1 style="text-align:center">Address options</h1>

<MudGrid Justify="Justify.SpaceAround">
    <MudItem>
        <MudButton Variant="Variant.Outlined" Style="align-items:center">Add address</MudButton>
        <MudButton Variant="Variant.Outlined" Color="Color.Surface">Update address</MudButton>
        <MudButton Variant="Variant.Outlined" Color="Color.Error">Delete address</MudButton>
    </MudItem>

    <MudItem>
        <MudButton Variant="Variant.Outlined" Color="Color.Warning">address by Contact ID</MudButton>
        <MudButton Variant="Variant.Outlined" Color="Color.Warning">All addresses</MudButton>
        <MudButton Variant="Variant.Outlined" Color="Color.Warning">Find address</MudButton>
    </MudItem>
</MudGrid>
