@page "/contacts/addContactForm"
@using Notebook.Domain.Requests
@using System.Text.Json
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<MudGrid Justify="Justify.Center">
    <MudItem xs="12" sm="7">
        <MudPaper Class="pa-4">
            <MudForm Model = "contactForCreateDTO" @ref="form" @bind-IsValis="@success" @bind-Errors="@errors">
                <MudTextField @bind-Value="contactForCreateDTO.FirstName" T="string" Label="First Name" Required="true" RequiredError="First name is required!" />
                <MudTextField @bind-Value="contactForCreateDTO.LastName" T="string" Label="Last Name" Required="true" RequiredError="Last name is required!" />
                <MudTextField @bind-Value="contactForCreateDTO.PhoneNumber" T="string" Label="Phone number" Required="true" RequiredError="Phone number is required!" />
                <MudTextField @bind-Value="contactForCreateDTO.Email" T="string" Label="Email" />
                <MudDatePicker PickerVariant="PickerVariant.Dialog" @bind-Date="contactForCreateDTO.DateOfBirth" Label="Only Calendar"  ShowToolbar="false" />
            </MudForm>
        </MudPaper>
        <MudPaper Class="pa-4 mt-4">
            <div style="display:flex; justify-content: flex-end;">
                <MudButton Variant="Variant.Filled" Color="Color.Primary" DropShadow="false" OnClick="@((e) => AddContact())">Add</MudButton>
                <div style="margin-left: 1rem;"/>
                <MudButton Variant="Variant.Filled" Color="Color.Secondary" DropShadow="false" OnClick="@((e) => Back())">Cancel</MudButton>
            </div>
        </MudPaper>
    </MudItem>
</MudGrid>


@code
{
    bool success = false;
    string[] errors = { };
    MudForm form = new MudForm();
    ContactForCreateDTO contactForCreateDTO = new ContactForCreateDTO();


    private void Back()
    {
        NavigationManager.NavigateTo("/contacts");
    }

    private async Task AddContact()
    {
        var url = "https://localhost:7274/api/contacts/add";

        using(var httpClient = new HttpClient())
        {
            var newContact = contactForCreateDTO;
            var response = await httpClient.PostAsJsonAsync(url, newContact);

            if(response.IsSuccessStatusCode)
            {
                contactForCreateDTO.FirstName = string.Empty;
                contactForCreateDTO.LastName = string.Empty;
                contactForCreateDTO.PhoneNumber = string.Empty;
                contactForCreateDTO.Email = string.Empty;
            }
        }
    }
}