@page "/contacts"
@inherits LayoutComponentBase

<h1 style="text-align:center">Contact options</h1>

<MudGrid Justify="Justify.SpaceAround">
    <MudItem>
        <MudButton Href="/contacts/addContactForm" Variant="Variant.Outlined" Style="align-items:center">Add contact</MudButton>
        <MudButton Href="/contacts/updateContactForm" Variant="Variant.Outlined" Color="Color.Surface">Update contact</MudButton>
        <MudButton Href="/contacts/deleteContactForm" Variant="Variant.Outlined" Color="Color.Error">Delete contact</MudButton>
        <MudButton Href="/contacts/updateEditContactForm" Variant="Variant.Outlined" Color="Color.Tertiary">Update contact 2.0</MudButton>
    </MudItem>

    <MudItem>
        <MudButton Href="/contacts/searchContact" Variant="Variant.Outlined" Color="Color.Warning">Search contacts</MudButton>
    </MudItem>
</MudGrid>